*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;


}

#navigation{
    height: 70px;
    width: 100%;
    background-image: url("new_banner1.jpg");
    background-size: cover;        
    background-repeat: no-repeat;  
    background-position: center;  
    background-color: #1c3c95; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 1px 5px 0px black;
    padding :5px 20px;
}
#navigation .logo{
    /* width: 30%; */
}
#navigation .logo img{
    width: 160px;
    height: auto;

}
#navigation .search{
 

}
#navigation .search .container{
    /* border: 2px solid black; */
    width: 100%;
    border-radius: 5px;
}

#navigation .search input{
    width:40vw;
    height: 35px;
    border:none;

  padding: 10px 35px 10px 12px;
  font-size: 16px;

  background-image: url("https://cdn-icons-png.flaticon.com/512/622/622669.png");
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: right 10px center;

  border: 2px solid #ccc;
  border-radius: 20px;
    
}
#navigation .option {
    margin-right:4rem;
}
#navigation .option i{ 
    font-size: 20px;
    margin: 5px 10px;
    color: #fff;
    cursor: pointer;
}